<header class="header">
    <div class="header__container">
        <div class="header__menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <a href="/">
            <img src="../assets/img/headerLogo.svg" alt="logo" />
        </a>

        <div class="header__menu">
            <div class="header__menu-item" data-id="1">
                Наши услуги
                <img src="../assets/img/menuArrow.svg" alt="" class="header__menu-arrow" />
                <img
                    src="../assets/img/activeMenuArrow.svg"
                    alt=""
                    class="header__menu-arrow header__menu-arrow__active"
                />
            </div>

            <div class="header__menu-item" data-id="2">
                О нас
                <img src="../assets/img/menuArrow.svg" alt="" class="header__menu-arrow" />
                <img
                    src="../assets/img/activeMenuArrow.svg"
                    alt=""
                    class="header__menu-arrow header__menu-arrow__active"
                />
            </div>

            <div class="header__menu-item" data-id="3">
                Наши проекты
                <img src="../assets/img/menuArrow.svg" alt="" class="header__menu-arrow" />
                <img
                    src="../assets/img/activeMenuArrow.svg"
                    alt=""
                    class="header__menu-arrow header__menu-arrow__active"
                />
            </div>

            <a href="#" class="header__menu-item">Продажа и аренда</a>

            <div class="header__menu-item" data-id="4">
                Почему мы
                <img src="../assets/img/menuArrow.svg" alt="" class="header__menu-arrow" />
                <img
                    src="../assets/img/activeMenuArrow.svg"
                    alt=""
                    class="header__menu-arrow header__menu-arrow__active"
                />
            </div>

            <a href="#" class="header__menu-item">Почему Кипр</a>

            <div class="header__menu-item" data-id="5">
                Инвесторам
                <img src="../assets/img/menuArrow.svg" alt="" class="header__menu-arrow" />
                <img
                    src="../assets/img/activeMenuArrow.svg"
                    alt=""
                    class="header__menu-arrow header__menu-arrow__active"
                />
            </div>

            <a href="#" class="header__menu-item">Контакты</a>
        </div>

        <div class="header__search">
            <img src="../assets/img/headerSearch.svg" alt="" class="header__search-icon" />
        </div>

        <div class="header__contact contact-block">
            <img src="../assets/img/phoneIcon.svg" alt="" class="contact-block__icon" />
            <div class="contact-block__container">
                <div class="contact-block__name">Cyprus</div>
                <a href="tel:+35725731111" class="contact-block__link">+35725731111</a>
            </div>
        </div>

        <div class="header__menu-list menu-list">
            <div class="menu-list__block" data-id="1">
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
            </div>

            <div class="menu-list__block" data-id="2">
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
                <a href="" class="menu-list__item">Lorem ipsum dolor sit amet.</a>
            </div>

            <div class="menu-list__block" data-id="3">
                <a href="" class="menu-list__item"
                    >Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet.</a
                >
                <a href="" class="menu-list__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                <a href="" class="menu-list__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                <a href="" class="menu-list__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                <a href="" class="menu-list__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                <a href="" class="menu-list__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
            </div>

            <div class="menu-list__block" data-id="4"></div>

            <div class="menu-list__block" data-id="5"></div>
        </div>
    </div>
</header>
