<div class="menu-mobile">
    <div class="menu-mobile__container">
        <div class="accordion" id="accordion">
            <div class="accordion__item">
                <div class="accordion__header">Наши услуги</div>
                <div class="accordion__body">
                    <a href="#" class="accordion__link">Управление недвижимостью</a>
                    <a href="#" class="accordion__link">Аренда недвижимости</a>
                    <a href="#" class="accordion__link">Дизайн Интерьера</a>
                    <a href="#" class="accordion__link">Ландшафтный дизайн</a>
                    <a href="#" class="accordion__link">Покупка офисной недвижимости</a>
                </div>
            </div>

            <div class="accordion__item">
                <div class="accordion__header">О нас</div>
                <div class="accordion__body">
                    <a href="#" class="accordion__link">Покупка офисной недвижимости</a>
                    <a href="#" class="accordion__link">Lorem ipsum dolor sit amet.</a>
                </div>
            </div>

            <div class="accordion__item">
                <div class="accordion__header">Наши проекты</div>
                <div class="accordion__body">
                    <a href="#" class="accordion__link" class="accordion__link">Покупка офисной недвижимости</a>
                    <a href="#" class="accordion__link" class="accordion__link">Lorem ipsum dolor sit amet.</a>
                </div>
            </div>

            <div class="accordion__item">
                <a href="#" class="accordion__link">Продажа и аренда</a>
            </div>

            <div class="accordion__item">
                <a href="#" class="accordion__link">Почему мы</a>
            </div>

            <div class="accordion__item">
                <div class="accordion__header">Почему Кипр</div>
                <div class="accordion__body">
                    <a href="#" class="accordion__link">Покупка офисной недвижимости</a>
                    <a href="#" class="accordion__link">Lorem ipsum dolor sit amet.</a>
                </div>
            </div>

            <div class="accordion__item">
                <div class="accordion__link">Контакты</div>
            </div>
        </div>
        <div class="contact-block">
            <img src="../assets/img/phoneIcon.svg" alt="" class="contact-block__icon" />
            <div class="contact-block__container">
                <div class="contact-block__name">Cyprus</div>
                <a href="tel:+35725731111" class="contact-block__link">+35725731111</a>
            </div>
        </div>

        <div class="contact-block">
            <img src="../assets/img/mailIcon.svg" alt="" class="contact-block__icon" />
            <div class="contact-block__container">
                <div class="contact-block__name">Mail Us</div>
                <a href="tel:+35725731111" class="contact-block__link">newrequest@cypruspropertygallery.com</a>
            </div>
        </div>

        <div class="contact-block">
            <img src="../assets/img/chatIcon.svg" alt="" class="contact-block__icon" />
            <div class="contact-block__container">
                <div class="contact-block__name">Chat Us</div>
            </div>
        </div>
    </div>
</div>
